<section>
  @if (selectScreen) {
  <div class="classes-wrapper">
    @for (class of gameDataService.charClasses; track $index) {
    <div (click)="selectClass(class)">{{ class.name }}</div>
    }
  </div>
  <div class="race-wrapper">
    @for (race of gameDataService.charRaces; track $index) {
    <div (click)="selectRace(race)">{{ race.name }}</div>
    }
  </div>
  <button (click)="next()" [disabled]="!selectedClass || !selectedRace">
    Weiter
  </button>
  }@else if (characterDetailsScreen) {
  <div>GOGO</div>
  }
</section>
