<section>
  @if (selectClassScreen) {
  <app-select-class
    [selectedClass]="selectedClass"
    (classSelected)="onClassSelected($event)"
  ></app-select-class>

  } @else if (selectRaceScreen) {
  <app-select-race
    (backToSelectClass)="goToStep('class')"
    (raceSelected)="onRaceSelected($event)"
  ></app-select-race>
  } @else if (characterDetailsScreen) {
  <app-character-details
    [characterClass]="selectedClass?.name ?? ''"
    [characterRace]="selectedRace ?? null"
    (characterDetailsSubmitted)="createCharacter($event)"
    (backToSelectRace)="goToStep('race')"
  ></app-character-details>
  }
</section>
