<section>
  @if (selectScreen) {
  <div class="classes-wrapper">
    @for (class of gameDataService.charClasses; track $index) {
    <div (click)="selectClass(class)">{{ class.name }}</div>
    }
  </div>
  <div class="race-wrapper">
    @for (race of gameDataService.charRaces; track $index) {
    <div (click)="selectRace(race)">{{ race.name }}</div>
    }
  </div>
  <button (click)="next()" [disabled]="!selectedClass || !selectedRace">
    Weiter
  </button>
  }@else if (characterDetailsScreen) {

  <div>Karakter Form</div>

  <form [formGroup]="createCharacterForm" (submit)="createCharacter()">
    <input
      formControlName="characterName"
      type="text"
      placeholder="Karakter Name"
    />

    <div class="stat-distribution-row">
      <input
        (input)="calculateBonusValue('strength')"
        formControlName="strengthValue"
        type="number"
      />
      <span>{{ statBonuses["strengthBonus"] }}</span>
    </div>

    <div class="stat-distribution-row">
      <input
        (input)="calculateBonusValue('agility')"
        formControlName="agilityValue"
        type="number"
      />
      <span>{{ statBonuses["agilityBonus"] }}</span>
    </div>

    <div class="stat-distribution-row">
      <input
        (input)="calculateBonusValue('constitution')"
        formControlName="constitutionValue"
        type="number"
      />
      <span>{{ statBonuses["constitutionBonus"] }}</span>
    </div>

    <div class="stat-distribution-row">
      <input
        (input)="calculateBonusValue('intelligence')"
        formControlName="intelligenceValue"
        type="number"
      />
      <span>{{ statBonuses["intelligenceBonus"] }}</span>
    </div>

    <div class="stat-distribution-row">
      <input
        (input)="calculateBonusValue('charisma')"
        formControlName="charismaValue"
        type="number"
      />
      <span>{{ statBonuses["charismaBonus"] }}</span>
    </div>

    <button type="submit">Karakter erstellen</button>
  </form>

  }
</section>
