@import "./../../../../../../styles.scss";
@import "./../../../../../../mixin.scss";

.stat-distribution-row {
  display: grid;
  grid-template-columns: auto min-content auto;
  justify-content: space-between;
  align-items: center;

  > input {
    background-color: $bg-dark;
    width: 30px;
    text-align: center;
    color: $copy-light;
    font-size: 20px;
    font-weight: 700;
    border: unset;
  }

  > span {
    color: $copy-light;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.stat-control {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  gap: 4px;
  width: 175px;

  > button {
    @include dFlex();
    width: 28px;
    height: 28px;
    border-radius: 8px;
    background-color: $copy-light;
    border: transparent;
  }

  > div {
    @include dFlex();
    flex-direction: column;

    :first-child {
      color: $copy-light;
      text-align: center;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.6px;
      text-transform: uppercase;
    }

    :nth-child(2) {
      text-align: center;
      font-size: 10px;
      letter-spacing: 0.5px;
    }
  }
}

.green {
  color: $success-green-medium;
}

.red {
  color: $error-red-medium;
}
