<section>
  <!-- Background Images -->
  <div
    class="background"
    [style.backgroundImage]="'url(' + currentImg + ')'"
    [ngClass]="{ leave: transition }"
  ></div>
  <div
    class="background"
    [style.backgroundImage]="'url(' + nextImg + ')'"
    style="z-index: -2"
  ></div>

  <main>
    <header>asdasd</header>

    @if (activeContainer === 'login') {<app-login
      (closeLogin)="slideInNav()"
    ></app-login
    >} @else if (activeContainer === 'signUp') {<app-sign-up
      (closeSignup)="slideInNav()"
    ></app-sign-up>
    }

    <nav
      [ngClass]="{
        'slide-left': slideDirection === 'left',
        'slide-right': slideDirection === 'right',
        'height-zero': hideNav && !containerAnimation
      }"
    >
      <button (click)="openLoginOrSignup('login')">login</button>
      <button (click)="openLoginOrSignup('signUp')">signUP</button>
    </nav>
  </main>

  <footer>asdasd</footer>
</section>
