@import "../../../../../styles.scss";
@import "../../../../../mixin.scss";

section {
  width: 100vw;
  width: 100svw;
  height: 100vh;
  height: 100svh;

  background-color: $bg-dark;
}

form {
  @include dFlex($gp: 20px);
  flex-direction: column;
}

.selected {
  background-color: green;
}
