<section (click)="$event.stopPropagation()">
  <main>
    <div class="headline-wrapper">
      <h1>neue Waffe Erstellen</h1>
    </div>

    <form [formGroup]="customWeaponForm" (submit)="createOrUpdateWeapon()">
      <div>
        <p>Name der Waffe eintragen</p>
        <app-input-with-error-msg
          [control]="name"
          [placeholder]="'Waffen Name'"
          [label]="'Waffen Name'"
        ></app-input-with-error-msg>
      </div>

      <div>
        <p>Art(en) der Waffe wählen</p>
        <div class="weapon-group-select-wrapper">
          @for (weaponGroup of gameDataService.weaponGroups; track $index) {
          <button
            type="button"
            (click)="selectWeaponGroup(weaponGroup)"
            [class.selected]="isSelected(weaponGroup)"
          >
            {{ weaponGroup.name }}
          </button>
          }
        </div>
      </div>

      <div>
        <p>Attribute der Waffe eintragen</p>

        <div class="stats-input-wrapper">
          <input
            type="number"
            placeholder="Min-str (5)"
            formControlName="minStr"
            min="0"
            step="1"
          />

          <input
            type="number"
            placeholder="Dmg Bonus (2)"
            formControlName="dmg"
          />

          <select formControlName="attribute">
            <option value="ST/GE">ST/GE</option>
            <option value="ST">ST</option>
            <option value="GE">GE</option>
          </select>

          <input
            type="number"
            placeholder="Gewicht (1,6)"
            maxlength="3"
            formControlName="weight"
          />

          <input
            type="number"
            placeholder="Ini Bonus (-1)"
            maxlength="3"
            formControlName="iniBonus"
          />

          <input
            type="text"
            placeholder="Spezial (Text)"
            maxlength="250"
            formControlName="special"
          />
        </div>
      </div>
    </form>

    <app-navigation
      (back)="emitCloseOverlay()"
      (next)="createOrUpdateWeapon()"
      [nextText]="'erstellen'"
      [backText]="'abbrechen'"
    ></app-navigation>
  </main>
</section>
