.skill-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;

  .skill-box {
    display: flex;
    justify-content: space-between;
    width: 143px;
  }

  .single-point {
    height: 12px;
    width: 12px;
    border-radius: 6px;
    border: 1px solid black;
  }

  .duble-point {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12px;
    width: calc(12px * 2);
    border: 1px solid black;
    border-radius: 6px;
    overflow: hidden;

    div {
      height: 100%;
      width: 50%;
    }
  }

  .quad-point {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12px;
    width: calc(12px * 4);
    border: 1px solid black;
    border-radius: 6px;
    overflow: hidden;

    div {
      height: 100%;
      width: 25%;
    }
  }
}

.skilled {
  background-color: aqua;
}
