<section>
  <h1>Login</h1>

  <span>via Username & Passwort</span>

  <form [formGroup]="loginForm" (submit)="login()">
    <input placeholder="Username" formControlName="username" type="text" />
    <input placeholder="Passwort" formControlName="password" type="password" />
    <div>
      <input formControlName="rememberMe" type="checkbox" />
      <span>Login-Daten merken</span>
    </div>

    <app-standard-button
      [type]="'submit'"
      [content]="'Einloggen'"
      [width]="'100%'"
      [height]="'36px'"
      [borderRadius]="'8px'"
      [fontWeight]="500"
      [style]="'blue'"
    ></app-standard-button>
  </form>

  <div class="separator-wrapper">
    <div></div>
    <span>oder</span>
    <div></div>
  </div>

  <span>via Google Account</span>

  <img src="" alt="" />

  <app-standard-button
    [content]="'Einloggen'"
    [width]="'100%'"
    [height]="'36px'"
    [borderRadius]="'8px'"
    [fontWeight]="500"
    [imgUrl]="'assets/icons/auth-icons/google-small.png'"
    [style]="'white'"
  ></app-standard-button>

  <p>
    Mit dem Fortfahren und Nutzen der Appakzeptierst du die
    <a href="">Nutzungsbedingungen</a> und <a href="#">Datenschutzerklärung</a>.
  </p>
</section>
