<section
  [ngClass]="{
    'slide-in': slideIn
  }"
>
  <div class="close-button" (click)="close()">X</div>

  <h1>Login</h1>

  <span>via E-Mail & Passwort</span>

  <form [formGroup]="loginForm" (submit)="login()">
    <div>
      <input
        class="text-input"
        placeholder="E-Mail"
        formControlName="email"
        type="text"
      />
      @if (email?.touched && email?.hasError('required')) {
      <span class="error-msg">E-Mail ist erforderlich.</span>
      } @else if (email?.touched && email?.hasError('email')) {
      <span class="error-msg">Bitte gib eine gültige E-Mail-Adresse ein.</span>
      }
    </div>
    <div>
      <input
        class="text-input"
        placeholder="Passwort"
        formControlName="password"
        type="password"
      />
      @if (password?.touched && password?.hasError('required')) {
      <span class="error-msg">Bitte Passwort eingeben.</span>
      } @else if (httpErrorMsg) {
      <span class="error-msg">{{ httpErrorMsg }}</span>
      }
    </div>
    <div>
      <input formControlName="rememberMe" type="checkbox" />
      <span>Login-Daten merken</span>
    </div>

    <app-standard-button
      [type]="'submit'"
      [content]="'Einloggen'"
      [width]="'100%'"
      [height]="'36px'"
      [borderRadius]="'8px'"
      [fontWeight]="500"
      [style]="'blue'"
    ></app-standard-button>
  </form>

  <div class="separator-wrapper">
    <div></div>
    <span>oder</span>
    <div></div>
  </div>

  <span>via Google Account</span>

  <app-standard-button
    [content]="'Google'"
    [width]="'100%'"
    [height]="'36px'"
    [borderRadius]="'8px'"
    [fontWeight]="500"
    [imgUrl]="'assets/icons/auth-icons/google-small.png'"
    [style]="'white'"
  ></app-standard-button>

  <p>
    Mit dem Fortfahren und Nutzen der Appakzeptierst du die
    <a href="">Nutzungsbedingungen</a> und <a href="#">Datenschutzerklärung</a>.
  </p>
</section>
