<section>
  <div>
    <h3>Rüstung</h3>
    <form>
      <select (change)="onArmorSelected($event)">
        @for (armor of gameDataService.baseArmors; track armor.id) {
          @if (armor.type === "armor") {
            <option [value]="armor.id">
              {{ armor.name }} {{ armor.armorBonus }}
            </option>
          }
        }
      </select>
    </form>
  </div>

  <div>
    <h3>Schild</h3>
    <form>
      <select (change)="onShieldSelected($event)">
        @for (armor of gameDataService.baseArmors; track armor.id) {
          @if (armor.type === "shield") {
            <option [value]="armor.id">
              {{ armor.name }} {{ armor.armorBonus }}
            </option>
          }
        }
      </select>
    </form>
  </div>
</section>
