<section>
  <div>
    <h3>Rüstung</h3>

    @if (characterDataService.character(); as character) {
      <form>
        <select
          name="armor"
          [ngModel]="character.armor?.id ?? ''"
          (change)="onArmorSelected($event)"
        >
          <option value="">select Armor</option>

          @for (armor of gameDataService.baseArmors; track armor.id) {
            @if (armor.type === "armor") {
              <option [value]="armor.id">
                {{ armor.name }} {{ armor.armorBonus }}
              </option>
            }
          }
        </select>
      </form>
    }
  </div>

  <div>
    <h3>Schild</h3>
    <form>
      <select (change)="onShieldSelected($event)">
        @for (armor of gameDataService.baseArmors; track armor.id) {
          @if (armor.type === "shield") {
            <option [value]="armor.id">
              {{ armor.name }} {{ armor.armorBonus }}
            </option>
          }
        }
      </select>
    </form>
  </div>
</section>
