@import "./../../../../../mixin.scss";
@import "./../../../../../styles.scss";

:host {
  width: 100%;
}

section {
  width: 100%;
  @include dFlex($gp: 16px);
  flex-direction: column;
}

.character-display {
  @include dFlex();
  flex-direction: column;
  background-color: $bg-darker;
  padding: 6px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.12);

  > h3 {
    color: $copy-light;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.75px;
    text-transform: uppercase;

    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span {
    color: $copy-grey;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.6px;
  }
}

.status-info {
  @include dFlex($gp: 16px);

  .hp-mp {
    padding: 8px;
    color: $copy-light;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    border-radius: 8px;
    border: 1px solid $bg-dark;
    background: $bg-darker;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.12);
  }

  .lvl {
    @include dFlex();
    flex-direction: column;
    background-color: $copy-light;
    padding: 8px;
    height: 48px;
    width: 48px;
    border-radius: 8px;
    border: 1px solid $bg-dark;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.12);

    > span {
      color: $copy-dark;
    }

    :first-child {
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      margin-bottom: -4px;
    }

    :last-child {
      font-size: 32px;
      font-weight: 800;
      letter-spacing: 1.6px;
      text-transform: uppercase;
      line-height: 28px;
    }
  }
}
