<div>
  <div>
    <span>Stärke:</span><span>{{ strengthValue }}</span
    ><span>Bonus:</span><span>{{ strengthBonus }}</span>
  </div>
  <div>
    <span>Geschick:</span><span>{{ agilityValue }}</span
    ><span>Bonus:</span><span>{{ agilityBonus }}</span>
  </div>
  <div>
    <span>Konstitution:</span><span>{{ constitutionValue }}</span
    ><span>Bonus:</span><span>{{ constitutionBonus }}</span>
  </div>
  <div>
    <span>Interligenz:</span><span>{{ intelligenceValue }}</span
    ><span>Bonus:</span><span>{{ intelligenceBonus }}</span>
  </div>
  <div>
    <span>Charisma:</span><span>{{ charismaValue }}</span
    ><span>Bonus:</span><span>{{ charismaBonus }}</span>
  </div>
</div>
