<div class="wrapper">
  <div class="row">
    <span class="stat-name">Stärke:</span>
    <span class="value">{{ strengthValue }}</span>
    <span class="stat-bonus">Bonus:</span>
    <span class="value">{{ strengthBonus }}</span>
  </div>
  <div class="row">
    <span class="stat-name">Geschick:</span>
    <span class="value"> {{ agilityValue }}</span>
    <span class="stat-bonus">Bonus:</span>
    <span class="value">{{ agilityBonus }}</span>
  </div>
  <div class="row">
    <span class="stat-name">Konstitution:</span>
    <span class="value">{{ constitutionValue }}</span>
    <span class="stat-bonus">Bonus:</span>
    <span class="value">{{ constitutionBonus }}</span>
  </div>
  <div class="row">
    <span class="stat-name">Interligenz:</span>
    <span class="value">{{ intelligenceValue }}</span>
    <span class="stat-bonus">Bonus:</span>
    <span class="value">{{ intelligenceBonus }}</span>
  </div>
  <div class="row">
    <span class="stat-name">Charisma:</span>
    <span class="value">{{ charismaValue }}</span>
    <span class="stat-bonus">Bonus:</span>
    <span class="value">{{ charismaBonus }}</span>
  </div>
</div>
