<table>
  <thead>
    <th scope="col">Attribut</th>
    <th scope="col">Wert</th>
    <th scope="col">Bonus</th>
  </thead>
  <tbody>
    <tr>
      <td>Stärke</td>
      <td>{{ strengthValue | number : "2.0" }}</td>
      <td
        [style.color]="
          strengthBonus > 0
            ? 'rgba(151, 255, 186, 1)'
            : strengthBonus < 0
            ? 'rgba(255, 131, 131, 1)'
            : ''
        "
      >
        {{ strengthBonus }}
      </td>
    </tr>
    <tr>
      <td>Geschicklichkeit</td>
      <td>{{ agilityValue | number : "2.0" }}</td>
      <td
        [style.color]="
          agilityBonus > 0
            ? 'rgba(151, 255, 186, 1)'
            : agilityBonus < 0
            ? 'rgba(255, 131, 131, 1)'
            : ''
        "
      >
        {{ agilityBonus }}
      </td>
    </tr>
    <tr>
      <td>Konstitution</td>
      <td>{{ constitutionValue | number : "2.0" }}</td>
      <td
        [style.color]="
          constitutionBonus > 0
            ? 'rgba(151, 255, 186, 1)'
            : constitutionBonus < 0
            ? 'rgba(255, 131, 131, 1)'
            : ''
        "
      >
        {{ constitutionBonus }}
      </td>
    </tr>
    <tr>
      <td>Intelligenz</td>
      <td>{{ intelligenceValue | number : "2.0" }}</td>
      <td
        [style.color]="
          intelligenceBonus > 0
            ? 'rgba(151, 255, 186, 1)'
            : intelligenceBonus < 0
            ? 'rgba(255, 131, 131, 1)'
            : ''
        "
      >
        {{ intelligenceBonus }}
      </td>
    </tr>
    <tr>
      <td>Charisma</td>
      <td>{{ charismaValue | number : "2.0" }}</td>
      <td
        [style.color]="
          charismaBonus > 0
            ? 'rgba(151, 255, 186, 1)'
            : charismaBonus < 0
            ? 'rgba(255, 131, 131, 1)'
            : ''
        "
      >
        {{ charismaBonus }}
      </td>
    </tr>
  </tbody>
</table>
