@import "./../../../../../mixin.scss";
@import "./../../../../../styles.scss";

table {
  border-collapse: separate;
  border-spacing: 8px 12px;
  padding: 8px;
  border-radius: 8px;
  background-color: $bg-darker;

  thead {
    th {
      color: $copy-grey;
      text-align: start;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.8px;
    }
  }

  tbody {
    tr {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $bg-dark;
      }

      td {
        text-align: end;
        color: $copy-light;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.6px;
        text-transform: uppercase;

        &:first-child {
          text-align: start;
        }
      }
    }
  }
}
