<section>
  <main>
    <div class="headline-wrapper">
      <h1>Charakter erstellen</h1>
      <p>
        Verteile deine <br />
        35 Attributs-Punkte für
      </p>
    </div>

    <form [formGroup]="createCharacterForm" (submit)="submitCharacterDetails()">
      <div class="character-display">
        <input type="text" placeholder="Charakter Name" />
        <span>{{ characterRace }} - {{ characterClass | classTranslate }}</span>
      </div>

      <!-- <span>{{ spendPoints }} / {{ developmentPoints }}</span> -->

      <div class="stat-distribution-wrapper">
        <div class="attribute-info-wrapper">
          <span>Attribut</span>
          <div>
            <span>Bonus</span>
            <span>Malus</span>
          </div>
        </div>

        <div class="stat-distribution-row">
          <input
            (input)="calculateDevelopmentPoints()"
            formControlName="strengthValue"
            type="number"
          />
          <span>{{ statBonuses["strengthBonus"] }}</span>
        </div>

        <div class="stat-distribution-row">
          <input
            (input)="calculateDevelopmentPoints()"
            formControlName="agilityValue"
            type="number"
          />
          <span>{{ statBonuses["agilityBonus"] }}</span>
        </div>

        <div class="stat-distribution-row">
          <input
            (input)="calculateDevelopmentPoints()"
            formControlName="constitutionValue"
            type="number"
          />
          <span>{{ statBonuses["constitutionBonus"] }}</span>
        </div>

        <div class="stat-distribution-row">
          <input
            (input)="calculateDevelopmentPoints()"
            formControlName="intelligenceValue"
            type="number"
          />
          <span>{{ statBonuses["intelligenceBonus"] }}</span>
        </div>

        <div class="stat-distribution-row">
          <input
            (input)="calculateDevelopmentPoints()"
            formControlName="charismaValue"
            type="number"
          />
          <span>{{ statBonuses["charismaBonus"] }}</span>
        </div>
      </div>

      <!-- <button type="submit">Karakter erstellen</button> -->
    </form>

    <app-navigation (next)="submitCharacterDetails()"></app-navigation>
  </main>
  <footer>asdasd</footer>
</section>
