@import "./../../../../../styles.scss";
@import "./../../../../../mixin.scss";

section {
  width: 100%;
}

main {
  @include dFlex($jc: flex-start, $gp: 16px);
  flex-direction: column;
  height: 100vh;
  height: 100svh;
  width: 100vw;
  width: 100svw;
  overflow-y: auto;
  background-color: $bg-dark;
  overflow-x: hidden;
}

.headline-wrapper {
  @include dFlex($gp: 8px);
  flex-direction: column;
  padding-top: 16px;

  h1 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  p {
    color: rgba(224, 224, 224, 0.5);
    font-size: 15px;
    text-align: center;
  }
}

form {
  @include dFlex($jc: flex-start, $gp: 16px);
  flex-direction: column;
  flex-grow: 1;
  padding: 0 12px;
  width: 100%;
}

.stat-distribution-wrapper {
  display: grid;
  gap: 4px;
  width: 100%;

  .attribute-info-wrapper {
    @include dFlex($jc: space-between);

    span {
      color: $copy-grey;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.6px;
      text-transform: uppercase;
    }

    > div {
      @include dFlex();
      flex-direction: column;

      > span {
        text-align: right;
        text-transform: uppercase;
      }

      :first-child {
        color: $success-green;
      }

      :last-child {
        color: $error-red;
      }
    }
  }
}

.character-display {
  @include dFlex($gp: 12px);
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid $bg-dark;
  background: $bg-darker;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.12);
  width: 250px;
  padding: 12px 24px;

  input {
    border: transparent;
    background-color: $bg-darker;
    color: $copy-light;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    outline: transparent;
  }

  span {
    color: $copy-grey;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.6px;
  }
}

.stat-distribution-row {
  display: grid;
  grid-template-columns: auto min-content auto;
  justify-content: space-between;
  align-items: center;

  > input {
    background-color: $bg-dark;
    width: 30px;
    text-align: center;
    color: $copy-light;
    font-size: 20px;
    font-weight: 700;
    border: unset;
  }

  > span {
    color: $copy-light;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.stat-control {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  gap: 4px;
  width: 175px;

  > button {
    @include dFlex();
    width: 28px;
    height: 28px;
    border-radius: 8px;
    background-color: $copy-light;
    border: transparent;
  }

  > div {
    @include dFlex();
    flex-direction: column;

    :first-child {
      color: $copy-light;
      text-align: center;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.6px;
      text-transform: uppercase;
    }

    :nth-child(2) {
      color: $success-green-medium;
      text-align: center;
      font-size: 10px;
      letter-spacing: 0.5px;
    }
  }
}

.info-wrapper {
  @include dFlex($jc: space-between);
  width: 100%;
  padding-left: 12px;

  button {
    @include dFlex($gp: 4px);
    padding: 8px;
    border-radius: 8px;
    background: $copy-light;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.12);
    color: $copy-dark;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    border: transparent;

    svg path {
      fill: $bard-color;
    }
  }

  span {
    padding: 16px;
    gap: 12px;
    color: green;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.26px;
    border-radius: 12px 0 0 12px;
    background: $bg-darker;
  }
}

.error {
  color: rgb(255, 131, 131) !important;
}
