<section
  [ngClass]="{
    'slide-in': slideIn
  }"
>
  <div class="close-button" (click)="close()">X</div>

  <h1>Account erstellen</h1>

  <form [formGroup]="signupForm" (submit)="signUp()">
    <div>
      <input
        class="text-input"
        placeholder="Username"
        formControlName="username"
        type="text"
      />

      @if (username?.touched && username?.hasError('required')) {
      <span class="error-msg">Username ist erforderlich.</span>
      }
    </div>
    <div>
      <input
        class="text-input"
        placeholder="Email"
        formControlName="email"
        type="email"
      />

      @if (email?.touched && email?.hasError('required')) {
      <span class="error-msg">E-Mail ist erforderlich.</span>
      }@else if (email?.touched && email?.hasError('invalidEmail')) {
      <span class="error-msg">Bitte gib eine gültige E-Mail-Adresse ein.</span>
      }
    </div>
    <div>
      <input
        class="text-input"
        placeholder="Password"
        formControlName="password"
        type="password"
      />

      @if (password?.touched && password?.hasError('required')) {
      <span class="error-msg">Passwort ist erforderlich.</span>
      }@else if (password?.touched && password?.hasError('minLength')) {
      <span class="error-msg">Passwort muss mindestens 8 zeichen haben</span>
      }
    </div>
    <div>
      <input
        class="text-input"
        placeholder="Password wiederholen"
        formControlName="passwordRepeat"
        type="password"
      />

      @if (passwordRepeat?.touched && passwordRepeat?.hasError('required')) {
      <span class="error-msg">Passwort bitte bestätigen.</span>
      }@else if (passwordRepeat?.touched &&
      signupForm.hasError('passwordMismatch')) {
      <span class="error-msg">Passwörter stimmen nicht überein.</span>
      }
    </div>
    <div>
      <input formControlName="privacyPolicy" type="checkbox" />
      <span
        >Ich habe die <a href="">Datenschutzerklärung</a> gelesen und akzeptiere
        sie.
      </span>

      @if (privacyPolicy?.touched && privacyPolicy?.hasError('required')) {
      <span class="error-msg">Bitte Datenschutz akzeptieren.</span>
      }@else if (httpErrorMsg) {
      <span class="error-msg">{{ httpErrorMsg }}</span>
      }
    </div>

    <app-standard-button
      [content]="'Account erstellen'"
      [width]="'100%'"
      [height]="'36px'"
      [borderRadius]="'8px'"
      [fontWeight]="500"
      [style]="'blue'"
      [type]="'submit'"
    ></app-standard-button>
  </form>

  <div class="separator-wrapper">
    <div></div>
    <span>oder</span>
    <div></div>
  </div>

  <span>via Google Account</span>

  <app-standard-button
    [content]="'Google'"
    [width]="'100%'"
    [height]="'36px'"
    [borderRadius]="'8px'"
    [fontWeight]="500"
    [imgUrl]="'assets/icons/auth-icons/google-small.png'"
    [style]="'white'"
  ></app-standard-button>
</section>
