<section>
  <div class="headline-wrapper">
    <h1>Anleiltung</h1>
    <p>zur Vergabe der Attributs-Punkte</p>
  </div>

  <p>
    Um die Attribute Deines Charakters zu entwickeln, erhälst Du 35
    Attributs-Punkte. Ein Wert oberhalb von 5 ist überdurchschnittlich gut.
  </p>

  <div class="example-wrapper">
    <h2>Beispiel:</h2>

    <p>Mit einer Stärke von 8 ist Dein Charakter daher sehr stark.</p>
  </div>

  <p>
    Verteile Deine Punkte schlau und effektiv. Bedenke die unterschiedlichen
    Kosten der Punkte. Eine Tabelle mit Kaufpreis, Attributs-wert und
    Attributsbonus findest Du unten. Attribute die Du hier setzt, sind endgültig
    und lassen sich nicht “umskillen”. Nicht verteilte Punkte lösen sich in Luft
    auf!
  </p>

  <p>
    Völker geben zudem unterschiedliche Boni bzw. Mali auf Attribute die Dir
    einen Vorteil verschaffen können, oder einen Nachteil, den du mit gezielter
    Attributspunkt-Vergabe ausbügeln kannst, wenn du das möchtest.
  </p>

  <span>Die Wahl liegt alleine bei dir. </span>

  <table>
    <thead>
      <th scope="col">Kaufpreis</th>
      <th scope="col">Attributs-Wert</th>
      <th scope="col">Attributs-Bonus</th>
    </thead>
    <tbody>
      <tr>
        <td>0</td>
        <td>0</td>
        <td>
          <img src="/assets/icons/shared-icons/skull.svg" alt="death" />
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>1</td>
        <td>-3</td>
      </tr>
      <tr>
        <td>2</td>
        <td>2</td>
        <td>-2</td>
      </tr>
      <tr>
        <td>3</td>
        <td>3</td>
        <td>-1</td>
      </tr>
      <tr>
        <td>4</td>
        <td>4</td>
        <td>-1</td>
      </tr>
      <tr>
        <td>5</td>
        <td>5</td>
        <td>0</td>
      </tr>
      <tr>
        <td>6</td>
        <td>6</td>
        <td>+1</td>
      </tr>
      <tr>
        <td>8</td>
        <td>7</td>
        <td>+1</td>
      </tr>
      <tr>
        <td>10</td>
        <td>8</td>
        <td>+2</td>
      </tr>
      <tr>
        <td>12</td>
        <td>9</td>
        <td>+2</td>
      </tr>
      <tr>
        <td>16</td>
        <td>10</td>
        <td>+3</td>
      </tr>
    </tbody>
  </table>
</section>
