<div class="character-card">
  @if (characterDataService.character) {
  <app-stat-box
    [strengthValue]="characterDataService.character!.strengthValue"
    [strengthBonus]="characterDataService.character!.strengthBonus"
    [agilityValue]="characterDataService.character!.agilityValue"
    [agilityBonus]="characterDataService.character!.agilityBonus"
    [constitutionValue]="characterDataService.character!.constitutionValue"
    [constitutionBonus]="characterDataService.character!.constitutionBonus"
    [intelligenceValue]="characterDataService.character!.intelligenceValue"
    [intelligenceBonus]="characterDataService.character!.intelligenceBonus"
    [charismaValue]="characterDataService.character!.charismaValue"
    [charismaBonus]="characterDataService.character!.charismaBonus"
  ></app-stat-box>
  @for (skill of characterDataService.character.class.skills; track $index)
  {<app-skills-display [skill]="skill"></app-skills-display>} @for (skill of
  characterDataService.character.customSkills; track $index) {
  <app-skills-display [skill]="skill"></app-skills-display>
  } }

  <!-- <div>{{ characterDataService.character?.name }}</div>
  <div>Level: {{ characterDataService.character?.level }}</div>
  <div>Volk: {{ characterDataService.character?.race?.name }}</div>
  <div>Beruf: {{ characterDataService.character?.class?.name }}</div>

  <div>Max HP: {{ characterDataService.character?.maxHealth }}</div>
  @if(isCaster()){
  <div>Max Mana {{ characterDataService.character?.maxMana }}</div>
  } -->
</div>
