<div class="character-card">
  <button (click)="openDmgOverlay()">damage</button>

  @if (characterDataService.character) {
  <app-stat-box
    [strengthValue]="characterDataService.character!.strengthValue"
    [strengthBonus]="characterDataService.character!.strengthBonus"
    [agilityValue]="characterDataService.character!.agilityValue"
    [agilityBonus]="characterDataService.character!.agilityBonus"
    [constitutionValue]="characterDataService.character!.constitutionValue"
    [constitutionBonus]="characterDataService.character!.constitutionBonus"
    [intelligenceValue]="characterDataService.character!.intelligenceValue"
    [intelligenceBonus]="characterDataService.character!.intelligenceBonus"
    [charismaValue]="characterDataService.character!.charismaValue"
    [charismaBonus]="characterDataService.character!.charismaBonus"
  ></app-stat-box>

  <app-character-details
    [name]="characterDataService.character!.name"
    [maxHealth]="characterDataService.character!.maxHealth"
    [level]="characterDataService.character!.level"
  ></app-character-details>

  @for (skill of characterDataService.character.class.skills; track $index)
  {<app-skills-display [skill]="skill" [index]="$index"></app-skills-display>}
  @for (skill of characterDataService.character.customSkills; track $index) {
  <app-skills-display [skill]="skill" [index]="null"></app-skills-display>
  } }
</div>

@if(overlay){
<app-overlay-base (closeOverlayEvent)="closeOverlay()"></app-overlay-base>
}
