<div class="character-card">
  <div>{{ characterDataService.character?.name }}</div>
  <div>Level: {{ characterDataService.character?.level }}</div>
  <div>Volk: {{ characterDataService.character?.race?.name }}</div>
  <div>Beruf: {{ characterDataService.character?.class?.name }}</div>

  <div>Max HP: {{ characterDataService.character?.maxHealth }}</div>
  @if(isCaster()){
  <div>Max Mana {{ characterDataService.character?.maxMana }}</div>
  }
  <div>
    <div>Stärke: {{ characterDataService.character?.strengthValue }}</div>
    <div>Bonus: {{ characterDataService.character?.strengthBonus }}</div>
  </div>
  <div>
    <div>Geschick: {{ characterDataService.character?.agilityValue }}</div>
    <div>Bonus: {{ characterDataService.character?.agilityBonus }}</div>
  </div>
  <div>
    <div>
      Konstitution: {{ characterDataService.character?.constitutionValue }}
    </div>
    <div>Bonus: {{ characterDataService.character?.constitutionBonus }}</div>
  </div>
  <div>
    <div>
      Interligenz: {{ characterDataService.character?.intelligenceValue }}
    </div>
    <div>Bonus: {{ characterDataService.character?.intelligenceBonus }}</div>
  </div>
  <div>
    <div>Charisma: {{ characterDataService.character?.charismaValue }}</div>
    <div>Bonus: {{ characterDataService.character?.charismaBonus }}</div>
  </div>
</div>
