@import "./../../../../mixin.scss";
@import "./../../../../styles.scss";

.character-card {
  @include dFlex($gp: 16px);
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  width: 100vw;
  width: 100svw;
  background-color: $bg-dark;
}

.headline-wrapper {
  @include dFlex($gp: 8px);
  flex-direction: column;
  padding-top: 16px;

  h1 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}


.focused {
  border: 1px solid red;
}

.weapon-inventory {
  @include dFlex();
  flex-direction: column;
}
